<h1>Edit Director <%= @director.name %></h1>

<form action="/update_director/<%= @director.id %>">
  <div>
    <label for="director_name_input">
      Director Name
    </label>

    <input id="director_name_input" type="text" name="director_name" value="<%= @director.name%>">
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" type="text" name="director_bio"><%= @director.bio%></textarea>
  </div>
  
  <div>
    <label for="dob_input">
      Dob
    </label>

    <input id="dob_input" type="text" name="director_dob" value="<%= @director.dob%>"> 
  </div>
  
  <div>
    <label for="image_input">
      Image url
    </label>

    <input id="image_input" type="text" name="director_image" value="<%= @director.image_url%>">
  </div>

  <button>
    Update director
  </button>
</form>