<h1>Edit Actor <%= @actor.name %></h1>

<form action="/update_actor/<%= @actor.id %>">
  <div>
    <label for="actor_name_input">
      Actor Name
    </label>

    <textarea id="actor_name_input" type="text" name="actor_name"><%= @actor.name%></textarea>
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <textarea id="bio_input" type="text" name="actor_bio"><%= @actor.bio%></textarea>
  </div>
  
  <div>
    <label for="dob_input">
      Dob
    </label>

    <textarea id="dob_input" type="text" name="actor_dob"><%= @actor.dob%></textarea> 
  </div>
  
  <div>
    <label for="image_input">
      Image url
    </label>

    <textarea id="image_input" type="text" name="actor_image"><%= @actor.image_url%></textarea>
  </div>

  <button>
    Update actor
  </button>
</form>